@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --first: #fff;
  --secondary: #151515;
}
@media (prefers-color-scheme: light) {
  :root {
    --first: #151515;
    --secondary: #fff;
  }
}
* {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
body {
  font-family: "Roboto Mono", "BIZ UDGothic", monospace;
  //   letter-spacing: 0.1em;
  color: var(--first);
  background-color: var(--secondary);
  word-wrap: break-word;
}
a {
  color: var(--first);
}

h1 {
  font-size: 80px;
}
h2 {
  font-size: 48px;
}
